ignoreErrors:
	-
		sniff: SlevomatCodingStandard.Classes.RequireAbstractOrFinal.ClassNeitherAbstractNorFinal
		message: All classes should be declared using either the "abstract" or "final" keyword.
		count: 1
		path: src/Assets.php

	-
		sniff: SlevomatCodingStandard.Classes.RequireAbstractOrFinal.ClassNeitherAbstractNorFinal
		message: All classes should be declared using either the "abstract" or "final" keyword.
		count: 1
		path: src/ComposerMonorepo.php

	-
		sniff: SlevomatCodingStandard.Classes.RequireAbstractOrFinal.ClassNeitherAbstractNorFinal
		message: All classes should be declared using either the "abstract" or "final" keyword.
		count: 1
		path: src/Deploy.php

	-
		sniff: SlevomatCodingStandard.Classes.RequireAbstractOrFinal.ClassNeitherAbstractNorFinal
		message: All classes should be declared using either the "abstract" or "final" keyword.
		count: 1
		path: src/Exceptions/AssetsException.php

	-
		sniff: SlevomatCodingStandard.Classes.RequireAbstractOrFinal.ClassNeitherAbstractNorFinal
		message: All classes should be declared using either the "abstract" or "final" keyword.
		count: 1
		path: src/Exceptions/DeployException.php
